./examples/bladee
./examples/celex
./exxamples/UCRobloxExternal
._DS_Store
/ai-skills
silentaimexampleinc
.codewhale/
.panoply/
.opencode/
node_modules/
opencode.json
package.json
package-lock.json
.DS_Store
